
* {
    box-sizing: border-box;
}
.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
h1 {
    margin: 5px 0px 5px 0px;
    color: #D04F4F;
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
}
.search {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
}
#btnSearch {
    position: absolute;
    display: none;
}
#multiple-search {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    padding-left: 22px;
    font-size: 18px;
    margin: auto;
    background-color: #E7E7E7;
    border: none;
    font-family: 'Lato', sans-serif;
    background: url(../images/search.svg) 98% center / 32px 32px no-repeat #E7E7E7;
}
#suggestion {
    list-style: none;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    height: 200px;
    padding-left: 20px;
    background-color: #E7E7E7;
}
.filter {
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: auto;
}
.filter__select {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 170px;
    max-width: 70%;
    min-height: 69px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 20px 20px 0px;
    padding: 15px;
}
.labelInput {
    width: 100%;
}
.wrapperIconDropDown {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 5px;
    width: 70px;
    height: 70px;
}
.up {
    transform: rotateX(180deg);
}
.wrapperInputFilter {
    display: none;
    flex-direction: column;
    width: 500px;
    max-width: 960px;
    min-width: min-content;
    max-height: 650px;
}
.inputFilter {
    width: 80%;
    height: 40px;
    min-height: 40px;
}
.inputFilter::placeholder {
    color: white;
    font-weight: 700;
    font-size: 18px;
    opacity: 50%;
}
.blue {
    background-color: #3282F7;
    border: #3282F7;
}
.green {
    background-color: #68D9A4;
    border: #68D9A4;
}
.red {
    background-color: #ED6454;
    border: #ED6454;
}
#wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: auto;
}
.container {
    width: 380px;
    height: 364px;
    margin: 20px auto;
}
.illustration {
    height: 45%;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
}
.recipeItem {
    height: 55%;
    background-color: #E7E7E7;
    border-radius: 0px 0px 5px 5px;
}
.head, .contenu {
    display: flex;
    justify-content: space-between;
}
.head {
    align-items: center;
    height: 25%;
    padding: 5px 10px;
}
.title {
    margin: 0;
    max-width: 75%;
    font-weight: 400;
    font-size: 18px;
}
.time {
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: 700;
    font-size: 18px;
    background: url(../images/time.svg) left / 20px 20px no-repeat;
}
.contenu {
    height: 75%;
    font-size: 12px;
    padding-bottom: 10px;
    overflow: hidden;
}
.description {
    width: 45%;
    height: 132px;
    padding: 5px 10px 0px 0px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ingredients {
    width: 70%;
    list-style: none;
    padding: 5px 5px 5px 10px;
    margin: 0px;
}
.ingredients > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    padding: 0px;
}
.quantity {
    padding-left: 5px;
}
h3, p {
    margin: 0;
    height: 100%;
}
.noResult {
    font-size: 1.6rem;
    font-weight: bold;
    color: #D04F4F;
    padding-top: 15%;
    margin: auto;
}
.listItems {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 95%;
    padding-left: 5px;
    overflow: auto;
}
.listItems li {
    width: max-content;
    margin-right: 15px;
}
.keyword {
    color: white;
    border: none;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
#wrapperTags {
    display: flex;
    margin-top: 30px;
    width: 90%;
    margin: 30px auto auto auto;
}
.tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: white;
    width: max-content;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

.tags > img {
    margin-left: 10px;
    cursor: pointer;
}